<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- ====================================================== -->
	<!--                 HIBERNATE SESSIONFACTORY               -->
	<!-- ====================================================== -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		name="sessionFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties" ref="hibernateProperties" />
		<property name="mappingResources">
			<list>
				<value>de/forsthaus/backend/model/Article.hbm.xml</value>
				<value>de/forsthaus/backend/model/Order.hbm.xml</value>
				<value>de/forsthaus/backend/model/Orderposition.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/Customer.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/Office.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/Branche.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecGroup.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecGroupright.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecRight.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecRole.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecRolegroup.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecUser.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecUserrole.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/SecLoginlog.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/GuestBook.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/IpToCountry.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/Ip2Country.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/Ip4Country.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/CountryCode.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/MyCalendarEvent.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/HibernateEntityStatistics.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/HibernateStatistics.hbm.xml
				</value>
				<value>de/forsthaus/backend/model/YoutubeLink.hbm.xml
				</value>
			</list>
		</property>
	</bean>

	<!-- ====================================================== -->
	<!--                    Hibernate Template                  -->
	<!-- ====================================================== -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="maxResults" value="3000" />
	</bean>

	<!-- ====================================================== -->
	<!--   Search class from Hibernate-Generic-DAO framework    -->
	<!-- ====================================================== -->
	<bean id="hibernateSearchSupport"
		class="de.forsthaus.backend.dao.impl.HibernateSearchSupportImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="hibernateSearchProcessor">
			<bean class="com.trg.search.hibernate.HibernateSearchProcessor"
				factory-method="getInstanceForSessionFactory">
				<constructor-arg ref="sessionFactory" />
			</bean>
		</property>
	</bean>


	<!-- ====================================================== -->
	<!--                        Base bean                       -->
	<!-- ====================================================== -->
	<bean id="basisDAO" abstract="true" p:hibernateTemplate-ref="hibernateTemplate"
		class="de.forsthaus.backend.dao.impl.BasisDAO" />



	<!-- ====================================================== -->
	<!--                        DAO beans                       -->
	<!-- ====================================================== -->
	<bean id="customerDAO" class="de.forsthaus.backend.dao.impl.CustomerDAOImpl"
		parent="basisDAO" />
	<bean id="orderDAO" class="de.forsthaus.backend.dao.impl.OrderDAOImpl"
		parent="basisDAO" />
	<bean id="orderpositionDAO" class="de.forsthaus.backend.dao.impl.OrderpositionDAOImpl"
		parent="basisDAO" />
	<bean id="articleDAO" class="de.forsthaus.backend.dao.impl.ArticleDAOImpl"
		parent="basisDAO" />
	<bean id="officeDAO" class="de.forsthaus.backend.dao.impl.OfficeDAOImpl"
		parent="basisDAO" />
	<bean id="brancheDAO" class="de.forsthaus.backend.dao.impl.BrancheDAOImpl"
		parent="basisDAO" />

	<bean id="userDAO" class="de.forsthaus.backend.dao.impl.UserDAOImpl"
		parent="basisDAO" />

	<bean id="secGroupDAO" class="de.forsthaus.backend.dao.impl.SecGroupDAOImpl"
		parent="basisDAO" />
	<bean id="secGrouprightDAO" class="de.forsthaus.backend.dao.impl.SecGrouprightDAOImpl"
		parent="basisDAO" />
	<bean id="secRightDAO" class="de.forsthaus.backend.dao.impl.SecRightDAOImpl"
		parent="basisDAO" />
	<bean id="secRoleDAO" class="de.forsthaus.backend.dao.impl.SecRoleDAOImpl"
		parent="basisDAO" />
	<bean id="secRolegroupDAO" class="de.forsthaus.backend.dao.impl.SecRolegroupDAOImpl"
		parent="basisDAO" />
	<bean id="secUserroleDAO" class="de.forsthaus.backend.dao.impl.SecUserroleDAOImpl"
		parent="basisDAO" />
	<bean id="secTypDAO" class="de.forsthaus.backend.dao.impl.SecTypDAOImpl" />
	<bean id="secLoginlogDAO" class="de.forsthaus.backend.dao.impl.SecLoginlogDAOImpl"
		parent="basisDAO" />
	<bean id="languageDAO" class="de.forsthaus.backend.dao.impl.LanguageDAOImpl" />

	<bean id="guestBookDAO" class="de.forsthaus.backend.dao.impl.GuestBookDAOImpl"
		parent="basisDAO" />

	<bean id="chartDataDAO" class="de.forsthaus.backend.dao.impl.ChartDataDAOImpl" />

	<bean id="ipToCountryDAO" class="de.forsthaus.backend.dao.impl.IpToCountryDAOImpl"
		parent="basisDAO" />
	<bean id="ip2CountryDAO" class="de.forsthaus.backend.dao.impl.Ip2CountryDAOImpl"
		parent="basisDAO" />
	<bean id="ip4CountryDAO" class="de.forsthaus.backend.dao.impl.Ip4CountryDAOImpl"
		parent="basisDAO" />
	<bean id="countryCodeDAO" class="de.forsthaus.backend.dao.impl.CountryCodeDAOImpl"
		parent="basisDAO" />

	<bean id="calendarEventDAO" class="de.forsthaus.backend.dao.impl.MyCalendarEventDAOImpl"
		parent="basisDAO" />

	<bean id="hibernateStatisticsDao"
		class="de.forsthaus.backend.dao.impl.HibernateStatisticsDaoImpl"
		parent="basisDAO" />

	<bean id="hibernateEntityStatisticsDao"
		class="de.forsthaus.backend.dao.impl.HibernateEntityStatisticsDaoImpl"
		parent="basisDAO" />

	<bean id="youtubeLinkDAO" class="de.forsthaus.backend.dao.impl.YoutubeLinkDAOImpl"
		parent="basisDAO" />

	<!-- ====================================================== -->
	<!--                      SERVICE beans                     -->
	<!-- ====================================================== -->
	<bean name="customerService" class="de.forsthaus.backend.service.impl.CustomerServiceImpl">
		<property name="customerDAO" ref="customerDAO" />
		<property name="officeDAO" ref="officeDAO" />
	</bean>
	<bean name="orderService" class="de.forsthaus.backend.service.impl.OrderServiceImpl">
		<property name="orderDAO" ref="orderDAO" />
		<property name="orderpositionDAO" ref="orderpositionDAO" />
		<property name="customerDAO" ref="customerDAO" />
		<property name="officeDAO" ref="officeDAO" />
		<property name="articleDAO" ref="articleDAO" />
	</bean>
	<bean name="officeService" class="de.forsthaus.backend.service.impl.OfficeServiceImpl">
		<property name="officeDAO" ref="officeDAO" />
	</bean>
	<bean name="brancheService" class="de.forsthaus.backend.service.impl.BrancheServiceImpl">
		<property name="brancheDAO" ref="brancheDAO" />
	</bean>
	<bean name="articleService" class="de.forsthaus.backend.service.impl.ArticleServiceImpl">
		<property name="articleDAO" ref="articleDAO" />
	</bean>
	<bean name="userService" class="de.forsthaus.backend.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="officeDAO" ref="officeDAO" />
		<property name="secUserroleDAO" ref="secUserroleDAO" />
		<property name="secRoleDAO" ref="secRoleDAO" />
		<property name="secRolegroupDAO" ref="secRolegroupDAO" />
		<property name="secGrouprightDAO" ref="secGrouprightDAO" />
		<property name="secGroupDAO" ref="secGroupDAO" />
		<property name="languageDAO" ref="languageDAO" />
		<property name="secRightDAO" ref="secRightDAO" />
	</bean>
	<bean name="loginService" class="de.forsthaus.backend.service.impl.LoginServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="officeDAO" ref="officeDAO" />
	</bean>
	<bean name="securityService" class="de.forsthaus.backend.service.impl.SecurityServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="officeDAO" ref="officeDAO" />
		<property name="secUserroleDAO" ref="secUserroleDAO" />
		<property name="secRoleDAO" ref="secRoleDAO" />
		<property name="secRolegroupDAO" ref="secRolegroupDAO" />
		<property name="secGrouprightDAO" ref="secGrouprightDAO" />
		<property name="secGroupDAO" ref="secGroupDAO" />
		<property name="secRightDAO" ref="secRightDAO" />
		<property name="secTypDAO" ref="secTypDAO" />
	</bean>

	<bean name="loginLoggingService"
		class="de.forsthaus.backend.service.impl.LoginLoggingServiceImpl">
		<property name="secLoginlogDAO" ref="secLoginlogDAO" />
		<property name="countryCodeDAO" ref="countryCodeDAO" />
		<property name="ip2CountryDAO" ref="ip2CountryDAO" />
	</bean>

	<bean name="pagedListService"
		class="de.forsthaus.backend.service.impl.PagedListServiceImpl">
		<property name="hibernateSearchSupport" ref="hibernateSearchSupport" />
	</bean>

	<bean name="guestBookService"
		class="de.forsthaus.backend.service.impl.GuestBookServiceImpl">
		<property name="guestBookDAO" ref="guestBookDAO" />
	</bean>

	<bean name="chartService" class="de.forsthaus.backend.service.impl.ChartServiceImpl">
		<property name="chartDataDAO" ref="chartDataDAO" />
	</bean>
	<bean name="ipToCountryService"
		class="de.forsthaus.backend.service.impl.IpToCountryServiceImpl">
		<property name="ipToCountryDAO" ref="ipToCountryDAO" />
	</bean>
	<bean name="ip2CountryService"
		class="de.forsthaus.backend.service.impl.Ip2CountryServiceImpl">
		<property name="ip2CountryDAO" ref="ip2CountryDAO" />
	</bean>
	<bean name="ip4CountryService"
		class="de.forsthaus.backend.service.impl.Ip4CountryServiceImpl">
		<property name="ip4CountryDAO" ref="ip4CountryDAO" />
	</bean>

	<bean name="countryCodeService"
		class="de.forsthaus.backend.service.impl.CountryCodeServiceImpl">
		<property name="countryCodeDAO" ref="countryCodeDAO" />
	</bean>

	<bean name="calendarEventService"
		class="de.forsthaus.backend.service.impl.MyCalendarEventServiceImpl">
		<property name="calendarEventDAO" ref="calendarEventDAO" />
	</bean>

	<bean name="hibernateStatisticsService"
		class="de.forsthaus.backend.service.impl.HibernateStatisticsServiceImpl">
		<property name="hibernateStatisticsDao" ref="hibernateStatisticsDao" />
	</bean>

	<bean name="youtubeLinkService"
		class="de.forsthaus.backend.service.impl.YoutubeLinkServiceImpl">
		<property name="youtubeLinkDAO" ref="youtubeLinkDAO" />
	</bean>

	<bean name="commonService" class="de.forsthaus.backend.service.impl.CommonServiceImpl">
		<property name="customerDAO" ref="customerDAO" />
		<property name="officeDAO" ref="officeDAO" />
		<property name="brancheDAO" ref="brancheDAO" />
		<property name="articleDAO" ref="articleDAO" />
		<property name="orderDAO" ref="orderDAO" />
		<property name="orderpositionDAO" ref="orderpositionDAO" />
		<property name="guestBookDAO" ref="guestBookDAO" />
		<property name="secGroupDAO" ref="secGroupDAO" />
		<property name="secGrouprightDAO" ref="secGrouprightDAO" />
		<property name="secRightDAO" ref="secRightDAO" />
		<property name="secRoleDAO" ref="secRoleDAO" />
		<property name="secRolegroupDAO" ref="secRolegroupDAO" />
		<property name="userDAO" ref="userDAO" />
		<property name="secUserroleDAO" ref="secUserroleDAO" />
		<property name="secLoginlogDAO" ref="secLoginlogDAO" />
		<property name="countryCodeDAO" ref="countryCodeDAO" />
		<property name="ipToCountryDAO" ref="ipToCountryDAO" />
		<property name="calendarEventDAO" ref="calendarEventDAO" />
		<property name="youtubeLinkDAO" ref="youtubeLinkDAO" />
	</bean>

</beans>
